/* Shared */

.additional {
    width: 100%;
}

.additional > .col {
    float: left;
    margin-top: 37.5px;
}

.additional > .col > .title,
.additional > .col > .info {
    text-align: center;
}

.additional > .col > .info span {
    font-size: 12px;
    font-weight: 300 !important;
}

.additional > .col > .info > a {
    position: relative;
    text-decoration: none;
    color: black;
}

.additional > .col > .info > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 1px;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: 0.3s all ease-in-out;
}

.additional > .col > .info > a:hover:before {
    visibility: visible;
    width: 100%;
    z-index: 0;
}

@media (min-width: 750px) {
    .additional > .col {
        width: 33.333%;
    }
}

@media (min-width: 475px) and (max-width: 749px) {
    .additional > .col:nth-child(1),
    .additional > .col:nth-child(2) {
        width: 50%;
    }
    
    .additional > .col:nth-child(3) {
        width: 100%;
    }
}

@media (max-width: 474px) {
    .additional > .col {
        width: 100%;
    }
}

/* Dot Slash Digital */

@media (min-width: 551px) and (max-width: 813px) {
    /* 162px = (72px * 0.5) + 72px + (72px * 0.75) */
    #dot-slash-digital > .item.full > .content {
        padding-top: 162px !important;
    }
}

@media (min-width: 451px) and (max-width: 550px) {
    /* 135px = (60px * 0.5) + 60px + (60px * 0.75) */
    #dot-slash-digital > .item.full > .content {
        padding-top: 135px !important;
    }
}

@media (min-width: 309px) and (max-width: 450px) {
    /* 108px = (48px * 0.5) + 48px + (48px * 0.75) */
    #dot-slash-digital > .item.full > .content {
        padding-top: 108px !important;
    }
}

@media (max-width: 308px) {
    /* 108px = (48px * 0.5) + 48px + 48px + (48px * 0.75) */
    #dot-slash-digital > .item.full > .content {
        padding-top: 156px !important;
    }
}

/* Oscar Health */

@media (min-width: 551px) and (max-width: 641px) {
    /* 162px = (72px * 0.5) + 72px + (72 * 0.75) */
    #oscar-health > .item.full > .content {
        padding-top: 162px !important;
    }
}

@media (min-width: 451px) and (max-width: 534px) {
    /* 135px = (60px * 0.5) + 60px + (60px * 0.75) */
    #oscar-health > .item.full > .content {
        padding-top: 135px !important;
    }
}

@media (max-width: 427px) {
    /* 108px = (48px * 0.5) + 48px + (48px * 0.75) */
    #oscar-health > .item.full > .content {
        padding-top: 108px !important;
    }
}

/* March Madness Prediction */

@media (min-width: 900px) {
    /* -134.375px = -50px + (-168.75px / 2) */
    #march-madness-prediction.project > .item.right.no-link > .title {
        margin-right: -134.375px;
    }

    #march-madness-prediction.project > .item.left.no-link > .title {
        margin-left: -134.375px;
    }
}

@media (min-width: 550px) and (max-width: 899px) {
    /* -120.313px = -50px + (-140.625px / 2) */
    #march-madness-prediction.project > .item.right.no-link > .title {
        margin-right: -120.313px;
    }

    #march-madness-prediction.project > .item.left.no-link > .title {
        margin-left: -120.313px;
    }
}

@media (min-width: 901px) {
    /* 252px = (72px * 0.75) + 72px + 72px + (72px * 0.75) */
    #march-madness-prediction > .item.full > .title {
        width: 600px;
        height: 252px !important;
    }
    
    #march-madness-prediction > .item.full > .content {
        padding-top: 252px;
    }
}

@media (min-width: 780px) and (max-width: 900px) {
    /* 162px = (72px * 0.5) + 72px + (72px * 0.75) */
    #march-madness-prediction > .item.full > .content {
        padding-top: 162px !important;
    }
}

@media (min-width: 551px) and (max-width: 779px) {
    /* 234px = (72px * 0.5) + 72px + 72px + (72px * 0.75) */
    #march-madness-prediction > .item.full > .content {
        padding-top: 234px !important;
    }
}

@media (min-width: 451px) and (max-width: 550px) {
    /* 195px = (60px * 0.5) + 60px + 60px + (60px * 0.75) */
    #march-madness-prediction > .item.full > .content {
        padding-top: 195px !important;
    }
}

@media (max-width: 451px) {
    /* 156px = (48px * 0.5) + 48px + 48px + (48px * 0.75) */
    #march-madness-prediction > .item.full > .content {
        padding-top: 156px !important;
    }
}

/* Be Mindful Beverages */

@media (min-width: 901px) {
    /* 252px = (72px * 0.75) + 72px + 72px + (72px * 0.75) */
    #be-mindful-beverages > .item.full > .title {
        width: 600px;
        height: 252px !important;
    }
    
    #be-mindful-beverages > .item.full > .content {
        padding-top: 252px !important;
    }
}

@media (min-width: 551px) and (max-width: 900px) {
    /* 162px = (72px * 0.5) + 72px + (72px * 0.75) */
    #be-mindful-beverages > .item.full > .content {
        padding-top: 162px !important;
    }
}

@media (min-width: 451px) and (max-width: 550px) {
    /* 135px = (60px * 0.5) + 60px + (60px * 0.75) */
    #be-mindful-beverages > .item.full > .content {
        padding-top: 135px !important;
    }
}

@media (min-width: 315px) and (max-width: 450px) {
    /* 108px = (48px * 0.5) + 48px + (48px * 0.75) */
    #be-mindful-beverages > .item.full > .content {
        padding-top: 108px !important;
    }
}

@media (max-width: 314px) {
    /* 156px = (48px * 0.5) + 48px + 48px + (48px * 0.75) */
    #be-mindful-beverages > .item.full > .content {
        padding-top: 156px !important;
    }
}