body {
    margin: 0;
    padding: 0;
}

/* Background */

#background {
    background-color: green;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    
    /* Horizontally centers `container` */
    text-align: center;
    
    /* Vertically centers `container` */
    display: flex;
    align-items: center; 
    justify-content: center;
}

#background > .container,
#bg-links,
.bg-link {
    display: inline-block;
}

#bg-logo {
    width: 300px;
    height: 200px;
    background-color: red;
    
}

#bg-links {
    width: 100%;
}

/* Work Items */

#work {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.work-item {
    width: 100%;
    padding: 50px 0;
    height: 300px;
}

.work-item-image {
    width: 50%;
    height: 100%;
    background-color: blue;
}