html,
html * {
    cursor: none;
}

.cursor {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    background-color: var(--pure-white);
    mix-blend-mode: difference;
    transition: 0.3s width, 0.3s height, 0.3s border-radius, 0.3s margin-top, 0.3s margin-left;
}

.cursor-action {
    position: absolute;
    z-index: 3;
    width: 56px;
    height: 56px;
    border-radius: 64px;
    pointer-events: none;
    color: var(--black);
    background-color: var(--white);
    transform: scale(0);
    transition: 0.3s transform;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding: 4px;
    border: 4px solid var(--black);
}

.cursor-action.active {
    transform: scale(1);
}
